.footer {
  margin-top: calc(var(--mantine-spacing-xl) * 2);
  padding-top: calc(var(--mantine-spacing-xl) * 1.5);
  padding-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}