.wrapper {
  display: flex;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border-radius: var(--mantine-radius-lg);
  padding: 4px;
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.form {
  flex: 1;
  padding: var(--mantine-spacing-xl);
  border-left: 0;

  @media (max-width: 768px) {
    padding: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
    border-left: 0;
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  }
}

.contacts {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background: linear-gradient(45deg, var(--mantine-color-blue-filled), var(--mantine-color-cyan-filled));
  border: 1px solid transparent;
  padding: var(--mantine-spacing-xl);
  flex: 0 0 300px;

  @media (max-width: 768px) {
    margin-bottom: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-md);
    flex-basis: auto;
  }
}

.title {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.2);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: 768px) {
    margin-bottom: var(--mantine-spacing-xl);
  }
}